body{
	background-color: #F7F8FD;
}
.help_line{
	text-transform: capitalize;
	background-color: #F17E3A;
	padding-top: 11px;
	padding-bottom: 11px;
}
#top-navbar .uk-navbar-container {
	height: 65px;
}
#top-navbar .uk-navbar-left>a {
	padding-bottom: 28px;
}
#top-navbar .uk-navbar-center {
	padding-bottom: 20px;
}
#top-navbar .uk-navbar-nav>li>a {
	padding-bottom: 20px;
}

#bottom-navbar .uk-navbar-container {
	height: 55px;
}
#bottom-navbar .uk-container {
	height: 55px;
}
#bottom-navbar .uk-navbar-nav {
	height: 55px;
}
#bottom-navbar .uk-navbar-nav>li>a {
	padding-bottom: 55px;
	color: #000;
	text-transform: capitalize;
	font-size: 13px;
}

#bottom-navbar .uk-navbar-right>ul>li {
		margin-top: 10px;
}

#mobile-navbar{
	display: none;
}



#category-section a {
	text-decoration: none;
	color: #696969;
}

#category-section p{
	 color: #3a3a3a;
}

#category-section p:hover{
	color: #F99B0C;
}	


#categoryall-section .uk-card{
		font-size: 15px;
}


#allproducts-section .sm_form{
	display: none;
}

#similarproduct-section .sm_form{
	display: none;
}








@media(max-width: 575px){

	/*#category-section img {
		width: 40px;
		margin-left: 15px;
		margin-right: 10px;
		border-radius: 2px;
	}

	#category-section p{
		font-size: 12px;
		padding-top: 15px; 
		padding-bottom: 15px; 
		font-weight: 500;
	}*/

	#top-navbar{
		display: none;
	}
	#bottom-navbar{
		display: none;
	}
	#mobile-navbar{
		display: block;
	}
	
	#mobile-navbar .uk-navbar-container {
		height: 60px;
	}
	#mobile-navbar .uk-container {
		height: 60px;
	}
	#mobile-navbar .uk-navbar-nav {
		height: 60px;
	}
	#mobile-navbar .uk-navbar-right {
		margin-top: -20px;
	}
	#mobile-navbar .uk-navbar-left img {
		width: 22px;
	}
	#mobile-navbar .uk-navbar-right img {
		width: 23px;
	}
	#mobile-navbar .uk-navbar-left .nav_logo {
		width: 100px;
	}
	

	.top-call{
		font-size: 14px;
		
	}


	#bottom-navbar .uk-navbar-right img {
		width: 28px;
	}

	#bottom-navbar .uk-navbar-right>ul>li {
		margin-top: 13px;
	}

	#allproducts-section .lg_form{
		display: none;
	}

	#allproducts-section .sm_form{
		display: block;
	}

	#similarproduct-section .lg_form{
		display: none;
	}

	#similarproduct-section .sm_form{
		display: block;
	}

}



/*#allproducts-section .uk-card{
	width: 15rem;
}*/

/*#newproduct-section .uk-card{
	width: 15rem;
}*/



@media(max-width: 400px){


	#category-section img {
		width: 80px;
	}
	#category-section p{
		font-size: 15px;
	}
	


	#allproducts-section .uk-button{
		padding-left:5px;
		padding-right:5px;
		margin: 0px;
		font-size: 12px;
	}

	#allproducts-section .uk-card{
		/*width: 10rem;*/
	}

	#allproducts-section h6{
		font-size: 13px;
	}

	#allproducts-section .uk-label{
		font-size: 12px;
	}


	#newproduct-section .uk-button{
		padding-left:5px;
		padding-right:5px;
		margin: 0px;
		font-size: 12px;
	}

	/*#newproduct-section .uk-card{
		width: 10rem;
	}*/

	#newproduct-section h6{
		font-size: 13px;
	}

	#newproduct-section .uk-label{
		font-size: 12px;
	}


	#brand-section .uk-button{
		padding-left:5px;
		padding-right:5px;
		margin: 0px;
		font-size: 12px;
	}

	#footer-section .footer-top span{
		font-size: 14px;
	}

	#footer-section .footer-bottom span{
		font-size: 12px;
	}


	#categoryall-section .uk-card{
		font-size: 14px;
	}
	#categorynew-section .uk-card{
		font-size: 14px;
	}

	#product-section .discount-label{
		width: 20px;
	}





	#shoppingcart-section img{
		width: 60px;
	}


}


#shoppingcart-section .deletebtn{
	color: #afafaf;
}

#shoppingcart-section .deletebtn:hover{
	color: #DC3545;
}

#shoppingcart-section .shopping_continue{
	border: 2px solid #282626; 
	color: #282626; 
	border-radius: 2px; 
	text-transform: uppercase; 
	font-size: 12px;
	margin-top: 30px;
	font-weight: 600;
	padding-left: 20px;
	padding-right: 20px;
}

#shoppingcart-section .shopping_continue:hover{
	background-color: #282626; 
	color: #fff; 
}



.quantity {
  display: flex;
  overflow: hidden;
}

.quantity button {
  background-color: #fff;
  color: #000;
  border: 1px solid #afafaf;
  cursor: pointer;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.quantity .minus:hover {
  background-color: #DC3545;
  color: #fff;
}

.quantity .plus:hover {
  background-color: #28A745;
  color: #fff;
}

.input-box {
  width: 40px;
  text-align: center;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  border-left: none;
  border-right: none;
  font-size: 14px;
  outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}










